<div class="footer">
	<hr class="thin" />
	<div class="pure-menu pure-menu-horizontal pure-menu-open">
		<ul class="footer-menu">
		{{ range .Site.Menus.footer }}
			<li><a href="{{.Url}}">{{ .Name }}</a></li>
		{{ end }}
		</ul>
	</div>

	<p>{{ with .Site.Params.Copyright }}{{. | safeHtml}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}
    <a href="https://app.wercker.com/project/bykey/afda1ba68b2e770d3c637bbf7adcedd1"><img style="vertical-align:middle;margin-left:5px;" alt="Wercker status" src="https://app.wercker.com/status/afda1ba68b2e770d3c637bbf7adcedd1/s"></a></p>
</div>
